<!--Comment Page for MugIn app-->
<!DOCTYPE html>
<html lang="en">

<head>
	<title>MugIn | ChatBox</title>
	<meta charset "utf=8" />
	<link rel="stylesheet" href="../stylesheets/style.css" type="text/css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="body">
	<header class="mainHeader">
		<!--Header logo-->
		<a href ="../">
			<img src="../images/MugIn.png">
		</a>
		
		<!--Login feature-->
		<side class="login">
			<a href="../about" title="Login to Google Account!">Login</a>
		</side>
		<side class="register">
			<a href="https://accounts.google.com/signup?service=mail" title="Get a Google Account!">Register</a>
		</side>
		<!--Login feature ends-->

		<!--Navigation bar with Contact emphasis-->
		<nav><ul>
			<li><a href="../">Home</a></li>
			<li><a href="../about">About</a></li>
			<li><a href="../service">Services</a></li>
			<li><a href="../contact">Contact Us</a></li>
			<li class="active"><a href="../comments">Chat Box</a><li>
		</ul></nav>
		<!--Navigation bar ends-->

	</header>

	{% block content %} {% endblock %}

	<!--Copyright footer-->
	<footer class="mainFooter">
		<p>Copyright &copy 2014</p>
	</footer>
	<!--Footer end-->

</body>
</html>