<!--About Page for MugIn App-->
<!DOCTYPE html>
<html lang="en">

<head>
	<title>MugIn | About</title>
	<meta charset "utf=8" />
	<link rel="stylesheet" href="../stylesheets/style.css" type="text/css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="body">
	<header class="mainHeader">
		<!--Header logo-->
		<a href ="../mugin">
			<img src="../images/MugIn.png">
		</a>

		<!--User greeting-->
		<side class="login">
			<span> Hello, {{ user_mail }}  <a href="{{ logout }}">logout</a></span>
		</side>
		<!--User greeting ends-->

		<!--Navigation bar with About emphasis-->
		<nav><ul>
			<li><a href="../mugin">Home</a></li>
			<li class="active"><a href="../about">About</a></li>
			<li><a href="../service">Services</a></li>
			<li><a href="../contact">Contact Us</a></li>
		</ul></nav>
		<!--Navigation bar ends-->

	</header>
	<!--Description/Content container-->
	<div class="description">
		<p id="title">
			About us
		</p>
		<p>
			We aim to provide real time update on various study places in NUS. Therefore, user can decide where to go and study in the condusive environment.
		</p>
	</div>
	<!--Description end-->

	<!--Copyright footer-->
	<footer class="mainFooter">
		<p>Copyright &copy<a href="a" title="myWebsite">2014</a></p>
	</footer>
	<!--Footer end-->

</body>
</html>