<!--Contact Page for MugIn app-->
<!DOCTYPE html>
<html lang="en">

<head>
	<title>MugInContact</title>
	<meta charset "utf=8" />
	<link rel="stylesheet" href="../stylesheets/style.css" type="text/css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="body">
	<header class="mainHeader">
		<!--Header logo-->
		<a href ="../mugin">
			<img src="../images/MugIn.png">
		</a>
		
		<!--User greeting-->
		<side class="login">
			<span> Hello, {{ user_mail }}  <a href="{{ logout }}">logout</a></span>
		</side>
		<!--User greeting ends-->

		<!--Navigation bar with Contact emphasis-->
		<nav><ul>
			<li><a href="../mugin">Home</a></li>
			<li><a href="../about">About</a></li>
			<li><a href="../service">Services</a></li>
			<li class="active"><a href="../contact">Contact Us</a></li>
		</ul></nav>
		<!--Navigation bar ends-->

	</header>
	<!--Description/Content container-->
	<div class="description">
		<p id="title">
			Contact Us
		</p>
		<p>
			Any problem or feedback please email us at info.MugIn@gmail.com
		</p>
	</div>
	<!--Description ends-->

	<!--Copyright footer-->
	<footer class="mainFooter">
		<p>Copyright &copy 2014</p>
	</footer>
	<!--Footer end-->

</body>
</html>