img{
	width: 30%;
	height: auto;
	margin: 2% 0;

}
body{
	background-color: lightgrey;
	font-size: 87.5%;
	width:70%;
	font-family: Century Gothic, sans-serif;
	line-height: 1.5;
	text-align: left;
}

a{
	text-decoration: none;
}

a:link, a:visited{
	color: #CF5C3F;
}

.body{
	margin: 0 auto;
	width:70%;
	background-color:lightgrey;
	clear:both;
}

.mainHeader img {
	width: 30%;
	height: auto;
	margin: 2% 0;

}

.mainHeader nav { 
	background-color: #666;
	height: 40px; 
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

}

.mainHeader nav ul{
	margin: 0 auto;
	list-style:none;
}

.mainHeader nav ul li{
	float:left;
	display:inline;
	list-style: none;
	font-size: 14.5px;
}

.mainHeader nav a:link, .mainHeader nav a:visited{
	color:#FFF;
	display: inline-block;
	padding: 9px 20px;
	list-style: none;
	
}

.mainHeader nav a:hover, .mainHeader nav a:active,
.mainHeader nav .active a:link, .mainHeader nav .active a:visited{
	background-color: #CF5C3F;
	text-shadow:none;
	text-decoration: none;
}

.mainHeader nav ul li a {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.description{
	width:100%;
	background-color: #CF5C3F;
	display: inline-block;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding-right: 30%;
	padding-left: 3%;
	margin: 1% 0;
	
}

.description #title{
	font-size: 36px;
	font-family: Century Gothic, sans-serif;
	padding: 1% 0;
	
}

.description p {
	font-size: 20px;
}

.login{
	background-color: white;
	float: right;
	font-size: 15px;
	display: inline-block;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	list-style: none;
	padding: 1% 3%;
	margin: 1% 0;
}

.login a:hover,.register a:hover{
	text-decoration: none;
}

.register{
	background-color: white;
	float: right;
	font-size: 15px;
	display: inline-block;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	list-style: none;
	padding: 1% 3%;
	margin: 1% 5px;
}

.photoContainer p {
	font-size: 36px;
	font-family: sans-serif, arial;
	padding-left: 1%;

}

.photoContainer img{
	display: inline-block;
	float: left;
	padding: 0 1%;
}

.mainFooter{
	width: 100%;
	height: 40px;
	float: left;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #666;
	margin: 2% 0;
}

.mainFooter p{
	font-size: 14px;
	width: 92%;
	margin: 1% auto;
	color:white;
}

@media only screen and (min-width: 150px) and (max-width: 600px){
	.body{
	width:90%;
	font-size: 95%;
	}

	.mainHeader img {
	width: 100%;
	height: auto;
	margin: 2% 0;
	}
 
	.mainHeader nav { 
	height: 160px; 

}

.mainHeader nav ul{	
	padding-left: 0;
}

.mainHeader nav ul li{
	width: 100%;
	text-align: center;
}


.mainHeader nav a:hover, .mainHeader nav a:active,
.mainHeader nav .active a:link, .mainHeader nav .active a:visited{
	background-color: #CF5C3F;
	text-shadow:none;
	display: block;
}

.mainHeader nav ul li a {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.photoContainer img{
	width: 100%;
	height: 0 auto;
}

.description{
	width: 96%;
	
}

.description #title{
	font-size: 22px;
	padding-left: 2%;
}

.description p {
	font-size: 14px;
	padding-left: 2%;
}

}