<!--Contact Page for MugIn app-->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="../images/mi.ico" />    
	<title>Mug In | Contact</title>

	<!-- Bootstrap -->
	<link href="../css/bootstrap.css" rel="stylesheet">
	<link href="../stylesheets/style.css" rel="stylesheet">

</head>
<body class="body">
	<header class="mainHeader">
		
		<!--Header logo-->
		<a href ="../">
			<img src="../images/MugIn.png">
		</a>
		
		{% if user_mail %}
		<!--User greeting-->
		<side class="login">
			<span> Hello, {{ user_mail }}  <a href="{{ logout }}">logout</a></span>
		</side>
		<!--User greeting ends-->
		{% else %}
		<!--Login feature-->
		<side class="login">
			<span> Login with  
				<a href="/getGoogleOpenId"><img src="../images/google.png"></a>
				or 
				<a href="/getNusOpenId"><img src="../images/nus.png"></a>
			</span>
		</side>
		<!--Login feature ends-->
		{% endif %}

		<!--Navigation bar with Contact emphasis-->
		<nav><ul>
			<li><a href="../">Home</a></li>
			<li><a href="../about">About</a></li>
			<li><a href="../service">Services</a></li>
			<li class="active"><a href="../contact">Contact Us</a></li>
			{% if user_mail %}
			<li><a href="../chats">Chat Box</a></li>
			<!-- Single button -->
			<div class="btn-group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					Study Spots<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li><a href="../info/clib">Central Library</a></li>
					<li><a href="../info/medlib">Medicine Library</a></li>
					<li><a href="../info/scilib">Science Library</a></li>
					<li><a href="../info/hssml">Hon Sui Sen Memorial Library</a></li>
      				<li><a href="../info/comms">PC / Mac Commons</a></li>
      				<li><a href="../info/uopen">UTown Open Area</a></li>
      				<li><a href="../info/yih">Yusof Ishak House</a></li>
				</ul>
			</div>
			{% endif %}
		</ul></nav>
		<!--Navigation bar ends-->

	</header>
	<!--Description/Content container-->
	<div class="description">
		<p id="title">
			Contact Us
		</p>
		<p>
			Any problem or feedback please email us at l_kenhua93@hotmail.com or radityapujamurti@gmail.com. We will try our best to help. :)
		</p>
	</div>
	<!--Description ends-->

	<!--Copyright footer-->
	<footer class="mainFooter">
		<p>Copyright &copy 2014</p>
	</footer>
	<!--Footer end-->

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="../scripts/bootstrap.min.js"></script>

</body>
</html>