<!--Home Page for MugIn App-->
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Mug In | Home</title>
	<meta charset "utf=8" />
	<link rel="stylesheet" href="../stylesheets/style.css" type="text/css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="body">
	<header class="mainHeader">
		<!--Header Logo-->
		<a href ="../">
			<img src="../images/MugIn.png"> 
		</a>

		<!--Login feature-->
		<side class="login">
			<a href="../mugin" title="Login to Google Account!">Login</a>
		</side>
		<side class="register">
			<a href="https://accounts.google.com/signup?service=mail" title="Get a Google Account!">Register</a>
		</side>
		<!--Login feature ends-->

		<!--Navigation bar with Home emphasis-->
		<nav><ul>
			<li class="active"><a href="../">Home</a></li>
			<li><a href="../about">About</a></li>
			<li><a href="../service">Services</a></li>
			<li><a href="../contact">Contact Us</a></li>
		</ul></nav>
		<!--Navigation bar ends-->

	</header>
	<!--Description/Content container-->
	<div class="description">
		<p id="title">
			Need to find where to study in NUS?
		</p>
		<p>
			Here you can monitor the crowd in selected study place so that you can decide where to go!
			Register or login now to enjoy more features such as FindABuddy and many more.
		</p>
	</div>
	<!--Description end-->

	<!--Top Spots-->
	<div class="photoContainer">
		<p> Top Spots </p>
		<img src="../images/starbucks.jpg">
		<img src="../images/pccomm.jpg">
		<img src="../images/study.jpg">
	</div>

	<!--Copyright footer-->
	<footer class="mainFooter">
		<p>Copyright &copy 2014</p>
	</footer>
	<!--Footer end-->

</body>
</html>