<!--Service Page for MugIn app-->
<!DOCTYPE html>
<html lang="en">

<head>
	<title>MugIn | Service</title>
	<meta charset "utf=8" />
	<link rel="stylesheet" href="../stylesheets/style.css" type="text/css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="body">
	<header class="mainHeader">
		<!--Header Logo-->
		<a href ="../">
			<img src="../images/MugIn.png">
		</a>

		<!--Login feature-->
		<side class="login">
			<a href="../mugin" title="Login to Google Account!">Login</a>
		</side>
		<side class="register">
			<a href="https://accounts.google.com/signup?service=mail" title="Get a Google Account!">Register</a>
		</side>
		<!--Login feature ends-->

		<!--Navigation bar with Services emphasis-->
		<nav><ul>
			<li><a href="../">Home</a></li>
			<li ><a href="../about">About</a></li>
			<li class="active"><a href="../service">Services</a></li>
			<li><a href="../contact">Contact Us</a></li>
		</ul></nav>
		<!--Navigation bar ends-->

	</header>
	<!--Description/Content container-->
	<div class="description">
		<p id="title">
			Services
		</p>
		<p>Find out various facilities in your favourite study places!</p>

	</div>
	<!--Description ends-->

	<!--Content-->

	<div class="service">
		<img src="../images/pccomm.jpg">
		<p>PC Common</p>
		
		<div class="servicecontent">
			<p>Printing @ $0.04/page</p>
			<p>PC Cluster</p>
			<p>Seminar Room	</p>
			
		</div>
	</div>

	<div class="service">
		<img src="../images/starbucks.jpg">
		<p>Starbucks</p>
		
		<div class="servicecontent">
			<p>Open study place</p>
			<p>Ample power point</p>
			<p>Near Starbucks-for extra kick!</p>
		</div>
	</div>

	<div class="service">
		<img src="../images/study.jpg">
		<p>The Study</p>
		
		<div class="servicecontent">
			<p>Condusive, personal study place</p>
			<p>Ample power point</p>
			<p>Quiet environment</p>
		</div>
	</div>
	
	<!--content ends-->

	<!--Copyright footer-->
	<footer class="mainFooter">
		<p>Copyright &copy 2014</p>
	</footer>
	<!--Footer end-->

</body>
</html>